In [3]:
a1 = np.array([1, 2, 5])

# 2-dimensional array, also referred to as matrix
a2 = np.array([[1, 2.0, 3.3],
               [4, 5, 6.5]])

# 3-dimensional array, also referred to as a matrix
a3 = np.array([[[1, 2, 3],
                [4, 5, 6],
                [7, 8, 9]],
                [[10, 11, 12],
                 [13, 14, 15],
                 [16, 17, 18]]])
a1
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [2]:
import numpy as np

In [4]:
import pandas as pd

In [6]:
df = pd.DataFrame(a1)
df

   0
0  1
1  2
2  5

In [7]:
one =np.ones((2,3,3),dtype=int)

In [8]:
one

array([[[1, 1, 1],
        [1, 1, 1],
        [1, 1, 1]],

       [[1, 1, 1],
        [1, 1, 1],
        [1, 1, 1]]])

In [10]:
one.dtype

dtype('int32')

In [ ]:
np.ones()